// resources/scss/superadmin/_pagination.scss

.sa-pagination {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 16px;

    .page-link {
        padding: 6px 12px;
        font-size: 13px;
        border-radius: 10px;
        border: 1px solid $sa-border;
        color: #374151;
        background: #fff;
        transition: all .15s ease;

        display: inline-flex;       // ⬅️ penting
        align-items: center;
        justify-content: center;

        svg {
            width: 14px;            // ⬅️ INI FIX UTAMA
            height: 14px;
            flex-shrink: 0;
        }

        &:hover {
            background: $sa-bg-soft;
        }
    }

    .active .page-link {
        background: $sa-primary;
        border-color: $sa-primary;
        color: #fff;
        font-weight: 600;
    }
}
